files:
    "/home/ec2-user/restore-elasticsearch.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            set -e
            until $(curl --output /dev/null --silent --head --fail http://localhost:9200); do
                printf '.';
                sleep 1;
            done
            curl -XPUT 'localhost:9200/_snapshot/s3_repository?pretty' -H 'Content-Type: application/json' -d'
            {
              "type": "s3",
              "settings": {
                "bucket": "wormbase-elasticsearch-snapshots",
                "region": "us-east-1"
              }
            }
            '
            curl -XPOST localhost:9200/_snapshot/s3_repository/snapshot_ws261_1/_restore?pretty

commands:
  02-restore-elasticsearch:
    command: /home/ec2-user/restore-elasticsearch.sh
