files:
    "/home/ec2-user/setup-volumes.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            set -e
            mkdir -p /var/lib/elasticsearch/data
            chmod 777 /var/lib/elasticsearch/data
            chown 100 /var/lib/elasticsearch/data
            chgrp 101 /var/lib/elasticsearch/data

commands:
  01-setup-volumes:
    command: /home/ec2-user/setup-volumes.sh
